@import "/styles/variables";
$height :40px;

.header {
  background-color: $primaryLight;// var(--bs-focus-ring-color);
  height: 40px;
  position: relative;
}

.body {
  margin-top:-$height/2;
  padding-top:calc($height/2 + 1rem);
  border-bottom-left-radius: var(--bs-border-radius-xl);
  border-bottom-right-radius: var(--bs-border-radius-xl);
}