.delete {
  border-bottom-left-radius: var(--bs-border-radius-xl);
  width:50px;
  height: 50px;
  position: absolute;
  top:0;
  right: 0;
  background-color: var(--bs-light);
}

.delete:hover {
  background-color:var(--bs-gray-200)
}
.text {
  color:var(--bs-gray-500)
}

.image {
  border-top-left-radius: var(--bs-border-radius-xl);
}