.footer{
    position: relative;
    height: 26px;
    background-color: #D6D6C0; /* bs-success with 20% opacity */
    /*--bs-bg-opacity: 0.2;*/
    z-index: 1000;
}

.text{
    font-size: 10px;
}

.privacy{
    font-size: 10px;
    color: #666666
}
