$padding: 50px;
$padding-top:100px;
$animation_duration:0.5;

$right-area-width:600px;

.container {
  position: fixed;
  top: $padding-top;
  left: $padding;
  right: $padding;
  bottom: $padding;
  z-index:2000;
}

.right-shadow {
  position:absolute;

  width:$right-area-width;
  top:0;
  bottom:0;
  right:0;
}

.index {

  display: flex;
  height: 100%;

}
.left {
  flex-grow: 1;
}
.left.opening {
  animation: open #{$animation_duration}s ease-in;
}

.left.closing {
  animation: close #{$animation_duration}s ease-in;
  transform: translate(100%,0);
}


.left.closed {
  animation: none;
  transform: translate(100%,0);
}

.right {
  width:$right-area-width;
  flex-shrink: 0;
  min-width: 0;
  z-index: 2000;
  //border-radius: var(--bs-border-radius-xl);
}

@keyframes open {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(0%,0);
  }
}


@keyframes close {
  0% {
    transform: translate(0%, 0);
  }
  100% {
    transform: translate(100%,0);
  }
}
:export {
  animationDuration:$animation_duration
}