.wrapper{
    width: 160px;
}

.largeCircle{
    width: 160px;
    height: 160px;
    border: 2px solid;
    border-radius: 9999px;
}

.labelShift{
    z-index: -1;
    transform: translateY(125px);
}

.verticalLine{
    border: 1px solid;
    height: 50px;
}

.smallCircle{
    width: 10px;
    height: 10px;
    border-radius: 9999px;
}

.label{
    width: 300px;
    font-size: 28px;
    font-weight: lighter;
    text-align: end;
    transform: rotate(-90deg) translateX(-150px);
}
