.backgroundImage{
    background: url("../../public/welcomeBackground.png") no-repeat left fixed;
}

.horizontalLine{
    border: 1px solid;
    width: 100%;
}

.menuItems{
    z-index: 1;
}



@media (min-width: 768px) { 
    .stats {
        gap: 80px;
    }
 }