.category {
  background-color:   var( --bs-primary-bg-subtle);
}

.category:hover {
 // background-color:var(--bs-light);
}

.card {
  margin-bottom: 1rem;
}

.card:last-child {
  margin-bottom: 0;
}