$dark-green: #626337;
@use 'sass:color';
$primary: #C3C56E;
$primaryLight:  color.adjust($primary, $lightness: 30%);
$secondary: #CCCCCC;
$success:$dark-green;
$info: #583B69;
$warning: #FDC900;
$danger: #B53218;

$body-bg:#FFFFFF;// #F3F3E2;
$navbar-light-color: #626337;
$navbar-light-hover-color: #C3C56E;
$navbar-light-active-color: #C3C56E;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1140px
);