.close-area {
  width:3rem;
  top:0;
  left:0;
  bottom:0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: var(--bs-border-radius-xl);
  border-bottom-left-radius: var(--bs-border-radius-xl);

}

.close-area:hover {
  background-color:var(--bs-gray-200);
}

.description {
  color:var(--bs-gray-600)
}